GIN_MODE=debug
PORT=8080

DATABASE_URL="postgres://cofin:cofin@localhost:5432/cofin"

PINECONE_PROJECT=ab86a30
PINECONE_INDEX=cofin
PINECONE_ENVIRONMENT=asia-southeast1-gcp-free
PINECONE_API_KEY=<insert your key>

OPENAI_API_KEY=<insert your key>
# Due to a quirk in the langchain library, we have to set the model used for
# embeddings as the environment variable. The model used for generation is set
# in the code.
OPENAI_MODEL=text-embedding-ada-002
OPENAI_BASE_URL=https://api.openai.com

SEC_API_KEY=<insert your key>

ENVIRONMENT=development

STRIPE_API_KEY=abc
STRIPE_PRODUCT_ID=prod_cba
UI_DOMAIN=staging.cofinapp.com